.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    max-width: 50rem;
    margin: 0 auto;
    padding: 3rem;
    
}

.content {
    width: 25.625rem;
    min-width: 25.625rem;
    height: 17.5rem;

}